*:focus{outline:none;}
*{box-sizing: border-box;}
html{
	overflow-x: hidden;
}

body{
	font: normal 12px/18px OpenSansHebrewRegular, Tahoma, Arial, sans-serif;
	margin:0;
	width:100%;
	direction:rtl;
	background:#F4F9FC;
	color: #333;
}

a{
    text-decoration: none;
    color:#333;
    transition: color 300ms;
}

a:hover{
    color:#00CB84;
}

h2{
    font-size: 18px;
}

.p5{
    padding:5%;
}

.p10{
    padding:10%;
}

.p15{
    padding:15%;
}

.p20{
    padding:20%;
}

.p25{
    padding:25%;
}

.p30{
    padding:30%;
}

.p40{
    padding:40%;
}

.p50{
    padding:50%;
}

.w10{
    width:10%;
}

.w20{
    width:20%;
}

.w30{
    width:30%;
}

.w40{
    width:40%;
}

.w50{
    width:50%;
}

.w60{
    width:60%;
}

.w70{
    width:70%;
}

.w80{
    width:80%;
}

.w90{
    width:90%;
}

.w100{
    width:100%;
}

.al{
    text-align: left;
}

.ar{
    text-align: right;
}

.ac{
    text-align: center;
}

.row{
    margin:0 0 15px;
}

.ptb10{
    padding: 10px 0;
}

.ptb15{
    padding: 15px 0;
}

.ptb20{
    padding: 20px 0;
}

.ptb25{
    padding: 25px 0;
}

.ptb30{
    padding: 30px 0;
}

.pb0{
    padding-bottom: 0;
}

.pt0{
    padding-top: 0;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 15px;
    width: 100%;
}

#content{
    color: #333;
    font-size: 16px;
}

.flex{
    display: flex;
}

#chartHints{
    position: relative;
    height: 65px;
    font-weight: bold;
}

#chartHints .chartHintsViews{
    position: absolute;
    left:0;
    bottom: 5px;
}

#chartHints .chartHintsClicks{
    position: absolute;
    right:0;
    bottom: 5px;
}

#right-area {
    position: fixed;
    left: 0px;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 60%;
}

#right-area img {
    max-width: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#left-area{
    width: 40%;
}

.header{
    background-color: #434242;
}

.header .logo{
    padding: 5px 0;
}

.header h1{
    color: #fff;
    font-size: 18px;
    margin: 26px 0 0;
}

.inner-form input[type=text], .inner-form input[type=date], .inner-form input[type=password], .inner-form input[type=email], .inner-form input[type=number], .inner-form select {
    background: #F6F9FE;
    height: 48px;
    width: 100%;
    border: 1px solid #D4D9DF;
    border-radius: 6px;
    padding: 0 15px;
}

.inner-form textarea{
    background: #F6F9FE;
    height: 148px;
    width: 100%;
    border: 1px solid #D4D9DF;
    border-radius: 6px;
    padding: 0 0 0 15px;   
}

.inner-form textarea:focus,.inner-form input:focus{
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: dotted thin\9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)
}

.inner-form label{
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    color:#333;
}

h1{
    margin:0;
    font-size: 24px;
}

.btn {
    height: 48px;
    width: 100%;
    background: #00CB84;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 12px 90px;
    border-radius: 6px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    -webkit-transition: .3s;
    transition: .3s;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    text-decoration: none; 
    cursor: pointer;
    border: none;
}

.btnS {
    height: 35px;
    width: fit-content;
    background: #00CB84;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    line-height: 35px;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 0 15px;
    border-radius: 6px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    -webkit-transition: .3s;
    transition: .3s;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.btnS:hover,.btn:hover{
    background-color: #1f888e;
    color:#fff;
}

.btnS:active,.btn:active{
    background-color: #1f4b8e;
    color:#fff;
}

.alert{
    color:red;
}

#user-top{
    padding: 18px 0 0;
    position: relative;
}

#user-top #user-circle{
    background-color: #212121;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    margin-left: 6px;
    cursor: pointer;
}

#user-top i{
    cursor: pointer;
    color: #fff; 
}

#user-top #user-info{
    position: absolute;
    background-color: #fff;
    border: 1px solid var(--gray-3);
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    z-index: 9;
    width: 155px;
    font-size: 15px;
    color: #000;
    right: calc(-50% + 15px);
    top: 0;
    padding: 10px;
    margin: 55px 0 0;
    transition: opacity 1000ms, display 1000ms;
    display: none;
    opacity: 0;
}

#user-top #user-info.active{
    display: block;
    opacity: 1;
    animation: vertival-margin 0.1s linear;
    text-align: center;
}

#user-top #user-info a{
    padding: 15px 0 0;
}

#menu{
    margin: 0;
}

#menu > i, #menu li > i{
    display:none;
}

#menu ul{
    margin: 0;
}

#menu li{
    display: inline-block;
}

#menu li a{
    font-size: 18px;
    color: #fff;
    padding: 27px;
    display: block;
    -webkit-transition: .4s;
    transition: .4s;
    border-bottom: 5px solid #434242;
}

#menu li a.router-link-active{
    color:#00CB84; 
    border-bottom: 5px solid #00CB84;
}

#menu li a:hover{
    color:#00CB84;
    background-color: #333;
    border-bottom: 5px solid #333;
}

.popup-back{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #00000033;
}

#spinner{
    background: #919fa640 url(../images/loader.gif) no-repeat;
    background-position: center;
    background-size: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.filchart{
    background-color: #f8f8f8;
    padding: 15px;
    overflow: auto;
}

.itemchart{
    
}

.itemchart label,.itemchart img{
    vertical-align: middle;
    display: inline-block;
    padding: 0 5px;
}

.popup{
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 10;
    /*animation: show 0.3s linear;*/
    width: 100%;
    max-width: 500px;
    margin-left: -250px;
    background-color: #fff;
    opacity: 1;
}

.popup .head-popup{
    background-color: #e4e8ec;
    padding: 0 20px;
}

.popup .head-title{
    font-weight: bold;
}

.popup-inner{
    padding: 25px;
    height:100%;
    overflow-x: auto;
}

.flex.body{
    height: calc(100% - 90px);
}

.popup .botBtns{
    margin:20px 0 0;
}

.popup .botBtns a{
    margin-right:10px;
}

.green{
    color: #00CB84;
}

i:hover{
    cursor:pointer;
}

.table table{
    width: 100%;
    text-align: right;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    border-collapse: collapse;
}

.table table th{
    padding: 10px;  
}

.table table td{
    padding: 8px 10px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

.table table tr:nth-child(odd) td{
    background-color: #f6f6f6;
}


.table table .id{
    width:5%;
    text-align: center;
}

.table table .image{
    width:8%;
    text-align: center;
}

.table table .image img{
    max-height:65px;
    -webkit-transition: filter 0.4s ease-in-out;
    transition: filter 0.4s ease-in-out; 
}

.table table .image img:hover{
    filter: brightness(120%);
}

.table table .actions{
    width:10%;
    text-align: center;
}

.table table .actions a{
    padding: 0 5px;
}

.alertMsg{
    font-size: inherit;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: red;
    background-color: rgba(255, 228, 228, 0.75);
    box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5);
    animation: showFromLeft 0.3s linear;
}

.successMsg{
    font-size: inherit;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: green;
    background-color: rgba(218, 249, 223, 0.75);
    box-shadow: 0px 0 10px 0px rgb(11 205 61 / 50%);
    animation: showFromLeft 0.3s normal;
}

@keyframes showFromLeft {
    0% { opacity:0;margin-left:-100%;}
    25% { opacity:0.2;margin-left:-50%;}
    35% { opacity:0.4;margin-left:-20%;}
    50% { opacity:0.8;margin-left:-15%;}
    65% { opacity:0.9;margin-left:-12%;}
    75% { opacity:0.9;margin-left:-10%;}
    80% { opacity:0.9;margin-left:-8%;}
    85% { opacity:0.95;margin-left:-6%;} 
    90% { opacity:0.95;margin-left:-4%;}  
    95% { opacity:0.95;margin-left:-2%;}    
    100% { opacity:1;margin-left:0;}
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 0;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 0 10px 0px rgba(70, 70, 70, 0.3);
  }
  
  input:checked + .slider {
    background-color: #00cb84;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00cb84;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .image-preview-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 125px;
    min-width: 125px;
    padding: 0;
    height: auto;
    text-align: center;
    position: relative;
	border: 1px solid #e5e5e5;
	position:relative;
}

.image-preview-area a{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.image-preview-area a img{
	top:50%;
	position:relative;
	margin-top:-24px;
}

.image-preview-area a img.im{
	top:0;
	margin-top:0;
    max-height:100%;
}
@keyframes show {
    0% { opacity:0;margin-top:-100%; transform:rotate(-45deg)}
    25% { opacity:0.2;margin-top:-70%; transform:rotate(-35deg)}
    35% { opacity:0.4;margin-top:-50%; transform:rotate(-25deg)}
    50% { opacity:0.6;margin-top:-40%; transform:rotate(-20deg)}
    60% { opacity:0.8;margin-top:-30%; transform:rotate(-15deg)}
    65% { opacity:0.9;margin-top:-25%;transform:rotate(-10deg) }
    75% { opacity:0.9;margin-top:-15%;transform:rotate(-10deg) }
    85% { opacity:0.95;margin-top:-5%;transform:rotate(-5deg) }    
    100% { opacity:1;margin-top:0;transform:rotate(0deg) }
}

@keyframes vertival-margin {
    0% { margin-top: 0 }
    25% { margin-top: 10px }
    50% { margin-top: 20px }
    75% { margin-top: 35px }
    100% { margin-top: 55px }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.hs{
    animation: horizontal-shaking 0.5s linear infinite;
}

.panelTop{
    background:#00c9831a;
}

.panelTop h1{

}

.panel .search {
    margin: 0;
    float: left;
    position: relative;
    background: #fff;
    padding: 0;
    min-width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
}

.panel .search input[name="q"] {
    font-size: 16px;
    width: 0px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: initial;
    height:100%;
    overflow: hidden;
}

.panel input{
    background: #F6F9FE;
    height: 40px;
    border: 1px solid #D4D9DF;
    border-radius: 6px;
    padding: 0 15px;
}

.panel .search button {
    padding: 0;
    border: none;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 7px;
    top: 7px;
    box-shadow: none;
    min-width: auto;
    color: #667686;
    background: none;
    font-size: 18px;
}

.panel .search.active input[name="q"]{
    width: 250px;
    border: none;
	padding-right: 40px;
    padding-left: 10px;
}

.panel .search.active button{
    right: 10px;   
}


.tabs{
    position: relative;
    top: 2px;
}

.tabs ul{
   padding:0;
   margin:0; 
}

.tabs ul li{
    display: inline-block;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-bottom: 3px solid #cbcbcb;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 0 10px;
    padding: 10px;
    font-weight: bold;
    color: #686868;
}

.tabs ul li:hover{
    cursor:pointer;
    background-color: #e2faf2;
    border-bottom: 3px solid #00CB84;
    color: #333;
}

.tabs ul li.active{
    border-bottom: 3px solid #00CB84;
    color: #333;
}

#chartOuter canvas{

}

.cubes{
    text-align: right;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #333;
}

.cubes > div{
    color: #333;
    font-size: 35px;
    padding: 20px;
}

.cubes > div > div{
    font-size: 16px;
    margin: 0 0 15px;
}

.cubes .clicks{
    background-color: #00599D;
    color:#fff;
}

.cubes .views{
    background-color: #5000B8;
    color:#fff;
}

.cubes .leads{
    background-color:#379D00;
    color:#fff;
}

.cubes .ctr{
    
}

@media(min-width:1025px){

}

@media(max-width:868px){
    .fas.fa-chart-bar{
        display: none;
    }
    .flex.panel{
        display:block;
    }
    .flex.panel >div{
        width: 100% !important;
    }
    .header .logo{
        width: calc(100% - 80px);
        text-align: left;
    }

    .header .w70{
        width:35px;
    }

    #user-top {
        width: 54px;
    }  

    #right-area{
        display:none;
    }

    #menu i{
        display: block;
        cursor: pointer;
        color: #fff;
        margin: 27px 0 0;
    }

    #menu li i{
        display: inline-block;
    }

    #menu i.fa-times{
        display: block;
        margin: 15px 5px 0 0;
    }   

    #menu ul{
        position: absolute;
        z-index: 9;
        width:100%;
        height:100%;
        top:0;
        left:0;
        display: none;
        background-color: #434242;
        padding: 0 15px;
    }

    #menu li.ar{
      text-align: right;
    }

    #menu li {
        display: block;
    }

    #menu ul.active{
        display: block;
    }

    #menu li a.router-link-active{
        border-bottom: none;
    }

    #menu li a{
        padding: 0;
    }

    .w40,.w50,.w60{
        width:100% !important;
    }

    .p5,.p10,.p15,.p20,.p25,.p30,.p40,.p50{
        padding: 15px;
    }

    .wrapper .p5,.wrapper .p10,.wrapper .p15,.wrapper .p20,.wrapper .p25,.wrapper .p30,.wrapper .p40,.wrapper .p50{
        padding: 0;
    }  

    .header{
        text-align: center;
    }
    
    .header .flex{
      
    }

    .ar,.al{
        text-align: center;
    }

    .header h1 {
        font-size: 20px;
        margin: 15px 0 10px;
    }  
    
    .panel .btnS{
       font-size: 0;
    }

    .panel .btnS i{
        font-size: 18px;
        line-height: 35px;
     }   
    
    .panel > div {
        padding: 10px 0;
    }

    .panel > div.w10{
        width:30%;
        padding: 15px 0;
    }

    .panel > div.w30{
        width:100%;
        padding: 15px 0;
    }   

    .panelBar .flex > div{
        width: 100%;
    }

    .panel > div.w70{
        width:70%;
    }   

    .ptb25{
        padding: 0;
    }

    .table{
        overflow-x: auto;
    }

    .panel .search.active input[name="q"] {
        width: 100%;
    }   

    .popup{
        left: 0 !important;
        top: 0 !important;
        margin-left: 0 !important;
        width: 100%;
        height: 100% !important;
    }

    .tabs{
        text-align: left;
    }
}